
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <app-slider  *ngIf="politiciansList" [elements]= "politiciansList" [heading]="'Top 10 Politicians'"></app-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <app-slider  *ngIf="politiciansList" [elements]= "politiciansList" [heading]="'Top 10 Indians'"></app-slider>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <app-slider  *ngIf="politiciansList1" [elements]= "politiciansList1" [heading]="'Top 10 Test'"></app-slider>
    </div>
  </div>
</div>
