

<!-- <br> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div style="display: inline-block;" class=" box-shadow">
        <div class="col-sm-6 no-padding">
          <img class="img-rounded img-responsive no-margin" src="assets/gif/ranking.gif" >
        </div>
        <div class="col-sm-6" style="text-align:center">
          <p><strong class="target">#35</strong></p>
          <p><span>Worldwide</span></p>
          <p><span class="upper">Rank</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12">
      <div style="display: inline-block;width:100%" class=" box-shadow">
        <div class="col-sm-6 no-padding">
          <img class="img-rounded img-responsive no-margin" src="assets/images/positive1.png" >
        </div>
        <div class="col-sm-6" style="text-align:center">
          <p><span >Worldwide</span></p>
          <p><span class="upper">Rank</span></p>
          <p><span >Evolution</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div style="display: inline-block;width:100%" class=" box-shadow">
        <div class="col-sm-6 no-padding">
          <halfdoughnut ></halfdoughnut>
        </div>
        <div class="col-sm-6" style="text-align:center">
          <p><span >Worldwide</span></p>
          <p><span class="upper">Rank</span></p>
          <p><span >Evolution</span></p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body" >
        <halfdoughnut ></halfdoughnut>
          </div>
      </div> -->

      <!-- <div style="display: inline-block;width:100%" class=" box-shadow">
        <div class="col-sm-6 no-padding">


        </div>
      </div> --><!--<div #containerPieChart class="container" gaugegraph><div>-->

      <!-- <gaugegraph ></gaugegraph> -->
    </div>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body no-padding">
          <gaugegraph></gaugegraph>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body">
          <wordcloud></wordcloud>
          </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body" >
          <chart-followers></chart-followers>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body" >
        <chart-tweets></chart-tweets>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body" >
          <chart-sentimental></chart-sentimental>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div  class="box-header with-border">
          <i class="box-title">heading</i>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body" >
          <chart-tweets></chart-tweets>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
