/*.box.box-primary {
  border-bottom-color: #3c8dbc;
}
.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 3px solid #3c8dbc;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-body {
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.open .btn-box-tool, .btn-box-tool:hover {
    color: #3c8dbc;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #3c8dbc;
    box-shadow: none !important;
    border: 1px solid transparent;
    text-decoration: none;
}

.row-no-gutter {
	margin-right: 0;
	margin-left: 0;
}

.row-no-gutter [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}*/


.panel {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.31), 0 6px 20px 0 rgba(148, 148, 148, 0.19);
    /*box-shadow: none*/
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}


.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.open .btn-box-tool, .btn-box-tool:hover {
    color: #3c8dbc;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    /*color: #97a0b3;*/

    color: #3c8dbc;
    box-shadow: none !important;
    border: 1px solid transparent;
    text-decoration: none;
}

.app-box-overflown {
  overflow: hidden;
}
